<div class="create-account-page">
    <br>
    <br>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-12">
                <form>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" name="firstName" id="firstName">
                            </div>
                            <div class="col">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" name="lastName" id="lastName">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="username">Username</label>
                                <input class="form-control" type="text" name="username" id="username">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="password">Password</label>
                                <input class="form-control" type="password" name="password" id="password">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="confirmPassword">Confirm Password</label>
                                <input class="form-control" type="password" name="confirmPassword" id="confirmPassword">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col">
                                <label for="location">Location</label>
                                <select class="form-control form-control-lg" name="location" id="location">
                                    <option selected disabled>Choose One</option>
                                    <option>KEL</option>
                                    <option>MEL</option>
                                    <option>PEL</option>
                                    <option>HMS</option>
                                    <option>HHS</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button id="create-submit" type="submit" class="btn btn-primary btn-block">
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>